.loader {
    background: #2d2d2d;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 100px;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}