
.wrapper {
    background: #2d2d2d;
    display: flex;
    justify-content: center;
    padding: 100px 800px;
    width: 100%;
    height: 100vh;
    color : #FFFFFF;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}
.header img:hover {
    cursor: pointer;
}
.container {
    width: 100%;
}
.title {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.title h1{
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
}
.title div{
    font-size: 20px;
    font-weight: 400;
}
.block {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.field {
    background-color: transparent;
    color : #FFFFFF;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    border : none;
    border-top: 3px solid #FFFFFF;
    outline: none;
    opacity: 1;
    transition: 0.5s;
}
.field:focus {
    background-color: rgba(200, 172, 231, 0.16);
    color : #dac2ee;
}
.button input {
    border-radius: 5px;
    background-color: #8552a4;
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border : 1px solid #8552a4;
    opacity: 1;
    transition: 0.3s;
}
.button input:hover {
    opacity: 0.5;
}

.checkBox {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.forgetPassword {
    text-decoration: underline;
}

.round {
    position: relative;
    margin-right: 25px;
}

.containerCheck {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    user-select: none;
}
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.containerCheck:hover input ~ .checkmark {
    background-color: #dac2ee;
}

.containerCheck input:checked ~ .checkmark {
    background-color: #8552a4;
}