.wrapper {
    background: #2d2d2d;
    display: flex;
    justify-content: center;
    padding: 100px 400px;
    width: 100%;
    color : #FFFFFF;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}
.header img:hover {
    cursor: pointer;
}
.container {
    width: 100%;
}
.title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.title h1{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
}
.block {
    margin-bottom: 20px;
}
.blockTitle {
    font-size: 30px;
    font-weight: 300;
}
.blockDescription {
    font-weight: 200;
    font-size: 20px;
    color : #b7b7b7;
    margin-top: 5px;
}
.field {
    background-color: rgba(200, 172, 231, 0.16);
    color : #FFFFFF;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px;
    border : none;
    border-top: 3px solid #FFFFFF;
    outline: none;
    opacity: 1;
    transition: 0.5s;
}
.typeText {
    height: 400px;
}
.shortDescription {
    height: 150px;
}
.typeText, .shortDescription {
    overflow-x: hidden;
    overflow-y: scroll;
}
.typeText::-webkit-scrollbar, .shortDescription::-webkit-scrollbar {
    display: none;
}

.dropzone {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 3px solid #FFFFFF;
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.dropzone:hover {
    cursor: pointer;
}
.imageIcon{
    height: 80px;
}

.uploadedImages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.image {
    max-height: 300px;
    border-radius: 5px;
}

.button input {
    border-radius: 5px;
    background-color: #8552a4;
    width: 300px;
    padding: 15px 10px;
    font-size: 25px;
    border : 1px solid #8552a4;
    opacity: 1;
    transition: 0.3s;
}
.button input:hover {
    opacity: 0.5;
}