.aboutMe {
    margin-left: 20px;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-bottom: 3px solid #FFFFFF;
}
.title {
    color : #FFFFFF;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.text {
    color : #d5cce1;
    font-size: 20px;
}