.post {
    color : #FFFFFF;
    margin-bottom: 35px;
    background-color: rgb(91, 60, 110);
    opacity: 1;
    transition: 0.5s;
    border-radius: 10px;
    padding: 15px 25px;
}
.post:hover {
   opacity: 0.5;
}
.title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.text {
    margin-bottom: 15px;
}
.post_images {
    display: flex;
    flex-wrap: wrap;
}
.post_images img {
    height: 200px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.comments_block{
    margin-left: 40px;
}
.comments_title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.commentator_info {
    margin-bottom: 15px;
}
.commentator_info img {
    height: 100px;
    width: 100px;
}
.comment {
    border : 3px solid #706f6f;
    border-radius: 10px;
    padding: 10px;
}
.comment_title {

}