.inputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.field {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    border : none;
    border-top: 3px solid #FFFFFF;
    outline: none;
    opacity: 1;
    transition: 0.5s;
}
.field.error {
    border-top: 3px solid #ff00d5;
}
.field:focus {
    background-color: rgba(200, 172, 231, 0.16);
    color : #dac2ee;
}